.bank-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    z-index: 100;
}

.bank-display {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 80%;
    width: 40%;
    left: 5%;
    top: 10%;

    background-color: white;
    z-index: 101;
    border-radius: 20px;
}

.loan-button-display {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 5%;
}

.loan-button {
    position: relative;
    width: 35%;
    height: 80px;
    margin: 5%;

    background-color: steelblue;
    color: white;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 50px;
}

.loan-button:hover {
    box-shadow: inset 0 0 10px 5px cornflowerblue;
}

.static-loan-button {
    position: relative;
    width: 35%;
    height: 80px;
    margin: 5%;

    background-color: lightsteelblue;
    color: white;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 50px;
}

.loan {
    position: relative;
    width: 80%;
    height: 20%;
    top: 0;
    left: 10%;
    margin-top: 10%;

    background-color: steelblue;
    border-radius: 10px;
    color: white;
    border: 5px solid black;
    font-size: 30px;
}

.loan:hover {
    box-shadow: inset 0 0 10px 5px cornflowerblue;
}

.static-loan {
    position: relative;
    width: 80%;
    height: 20%;
    top: 0;
    left: 10%;
    margin-top: 10%;

    background-color: lightsteelblue;
    border-radius: 10px;
    color: white;
    border: 5px solid black;
    font-size: 30px;
}

.static-loan:hover {
    box-shadow: inset 0 0 10px 5px cornflowerblue;
}

.bank-slider-container {
    position: fixed;
    height: 60%;
    width: 40%;
    right: 5%;
    bottom: 10%;

    background-color: white;
    z-index: 101;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bank-slider {
    width: 80%;
    height: 10%;
}
